$Primary-100: #2e86de;
$Primary-200: #5aa0e5;
$Primary-300: #86b9ec;
$Accent-100: #ff5733;
$Accent-200: #ff5733;
$Accent-300: #ff5733;
$Background-100: #e7e7e7;
$Background-200: #e9f0f8;
$Background-300: #d6e4f1;
$Text-100: #071422;
$Text-200: #102d4c;
$Text-300: #184677;

$Dark-Primary-100: #1b4f72;
$Dark-Primary-200: #2874a6;
$Dark-Primary-300: #5499c7;
$Dark-Background-100: #3f3f3f;
$Dark-Background-200: #282828;
$Dark-Background-300: #3c3c3c;
$Dark-Text-100: #f0f0f0;
$Dark-Text-200: #d0d0d0;
$Dark-Text-300: #b0b0b0;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: $Text-100;
    background-color: $Background-100
}

.Register-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $Background-100;
}

.Register-Form {
    width: 35%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    
    form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        h1{
            margin-top: -25px;
        }
        div {
            margin-top:10px;
            input {
                font-size: 16px;
                width: 100%;
                padding: 15px;
                border-radius: 5px;
                border: 1px solid $Text-100;
                margin-top: 10px;
            }
            input::placeholder{
                color: $Text-200;
                font-weight: 500;
                letter-spacing: 1px;
            }
            input[type="submit"]{
                background-color: $Primary-100;
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
                border: 1px solid $Primary-100;
                transition: all 0.3s;
                &:hover {
                    background-color: $Primary-200;
                }
            }
        }
    }
}

#btnToggleMode{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $Primary-100;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: $Primary-200;
    }
}
// Темная тема
body.dark-mode {
    color: $Dark-Text-100;
    background-color: $Dark-Background-100;

    .Register-Container {
        background-color: $Dark-Background-100;
    }

    .Register-Form {
        background: $Dark-Background-200;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 5px 15px;

        form {
            div {
                input {
                    border: 1px solid $Dark-Text-100;
                    background-color: $Dark-Background-300;
                    color: $Dark-Text-100;
                }
                input::placeholder {
                    color: $Dark-Text-200;
                }
                input[type="submit"] {
                    background-color: $Dark-Primary-100;
                    border: 1px solid $Dark-Primary-100;
                    &:hover {
                        background-color: $Dark-Primary-200;
                    }
                }
            }
        }
    }

    #btnToggleMode {
        background-color: $Dark-Primary-100;
        &:hover {
            background-color: $Dark-Primary-200;
        }
    }
}

